/*document base styles*/
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
h4 {
  font-size: 1.25rem;
  font-weight: 600;
}
img {
  width: 100%;
  height: auto;
}
  /*used throughout document to keep content consistently centered*/
.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}
  /*styles to be used throughout document for additional text with images*/
.details {
  display: flex;
  flex-direction: column;
}

/*header*/
header .container {
  justify-content: space-between;
  line-height: 2rem;
}
/*logo in top left of desktop site*/
.logoblock {
  display: flex;
  padding: 1rem 1.5rem;
}
.logoblock img {
  height: 2rem;
  width: auto;
}
#colmar {
  font-size: 1.5rem;
  color: grey;
  margin-left: 0.25rem;
}
#colmar strong {
  color: #434444;
  font-weight: 500;
}
/*page navigation for desktop site*/
nav {
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
}
nav span {
  padding-left: 1rem;
}

/*banner section with 'start here' prompt*/
.start-here {
  background-color: #eaebed;
}
  /*image sizing and styles*/
.start-here .image {
  width: 60%;
  padding: 2rem 1.5rem;
}
  /*text and link button*/
.learn {
  width: 40%;
  display: flex;
  flex-direction: column;
  line-height: 1.25;
}
.learn h3 {
  margin: 1.5rem 0;
}
.learn .details {
  padding-right: 1.5rem;
}
  /*buttom specific styles*/
.btn {
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
  background-color: #434444;
  color: white;
  font-size: 1.5rem;
  transition: all 200ms linear 100ms;
}
.btn:hover {
  background-color: #0ecbed;
  color: black;
}

/*information section with multiple sections about different aspects of the school*/
  /*main article*/
.main {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  width: 60%;
  border-right: 1px solid #eaebed;
}
.main .image {
  margin-bottom: 2rem;
}
.main .details span {
  margin: 1.5rem 0;
}
cite {
  font-weight: 500;
  display: block;
}
  /*secondary articles*/
.secondary {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.article.horizontal {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.article.horizontal .image {
  width: 35%;
  height: auto;
  /*margin-right: 1rem;*/
}
.article.horizontal .details {
  width: 65%;
  margin-left: 1rem;
}
.details a {
  color: #448fff;
}
.details span {
  line-height: 1.5;
  margin: 0.5rem 0;
}

/*course information section*/
.learning {
  background-color: #eaebed;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.learning .container {
  flex-direction: column;
}
.start-learning {
  margin-bottom: 1rem;
}
.courses {
  padding: 0 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}
.course {
  width: 30%;
  background-color: white;
  margin: 1rem;
}
.course .details {
  padding: 1rem;
}
